.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;

  background-color: #ffffff;
  /* z-index: 1000; */

  display: flex;
  align-items: center;
  /* padding: 0 16px; */
  /* margin-bottom: 100px; */
  flex-direction: column;
  box-shadow: inset;
  align-items: center;
  justify-content: center;
}

/* ===== TOP ANNOUNCEMENT BAR ===== */
.top-bar {
  background-color: #f6f6f6;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  color: black;
  width: 100%;
}

/* ===== MAIN HEADER ===== */
.header2 {
  border-bottom: 1px solid #e5e5e5;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-weight: bold;
  font-size: 18px;
  color: black;
}