/* FULL RESET */
* {
  box-sizing: border-box;
}

html,
.section {
  max-width: 1200px;
  margin: auto;
}

/* PAGE */
.page {
  width: 100%;
}

/* FULL WIDTH SECTIONS */
.hero {
  width: 100%;
  /* padding: 40px 0; */
}

/* CENTERED CONTENT */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
